__pycache__/
*.pyc
.env
.venv/
dist/
build/
*.spec
settings.json
scores.json

# Game Content
# Ignore downloaded songs
songs/*
!songs/.gitkeep

# Keep Main Menu Music
!mainmenu_music/

# Keep Boss Music
!boss_music/

# Keep Story Music
!story_music/
